* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main h1 {
  margin: 5vh 0px;
  font-weight: 800;
}

.order {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ph,
.pick-up,
.drop-off,
.next,
.previous,
.memo {
  display: flex;
  margin: 20px 0px;
  width: 100%;
}
.ph label,
.pick-up label,
.drop-off label,
.next label,
.previous label,
.memo label {
  color: #5c5a5a;
  font-weight: 600;
  margin: 0.25rem;
}
.ph input,
.pick-up input,
.drop-off input,
.next input,
.previous input,
.memo input {
  margin: 0.25rem;
  border: 2px solid black;
  border-radius: 20px;
  width: 20rem;
  padding: 10px;
}
.ph input::-moz-placeholder, .pick-up input::-moz-placeholder, .drop-off input::-moz-placeholder, .next input::-moz-placeholder, .previous input::-moz-placeholder, .memo input::-moz-placeholder {
  color: #5c5a5a;
  font-weight: bold;
  text-align: center;
}
.ph input::placeholder,
.pick-up input::placeholder,
.drop-off input::placeholder,
.next input::placeholder,
.previous input::placeholder,
.memo input::placeholder {
  color: #5c5a5a;
  font-weight: bold;
  text-align: center;
}

.next,
.previous,
.call,
.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  border-radius: 20px;
  width: 8rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

.next,
.call {
  background-color: rgb(22, 111, 22);
}

.previous,
.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 73, 11);
}

.check {
  background-color: black;
  color: white;
  font-weight: 800;
  text-align: left;
}

.memo textarea {
  border: 2px solid black;
  border-radius: 2px;
  padding: 1rem;
  font-weight: 600;
  width: 20rem;
  height: 10rem;
  resize: none;
}

.map {
  height: 18rem;
  width: 18rem;
  border: 5px solid black;
  border-radius: 2px;
  margin: 0.75rem;
}

.order_inform {
  display: flex;
  padding: 0.75rem;
}
.order_inform label,
.order_inform input {
  font-weight: 600;
}

#instructions-label {
  color: gray;
  font-size: smaller;
}

#welcome-label {
  color: black;
  font-size: 24;
  font-weight: bold;
}

form#select_group {
  min-height: 80vh;
  display: flex;
  font-size: 1.75rem;
  font-weight: 900;
}
form#select_group .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form#select_group .row input:disabled {
  padding: 0px;
  font-size: 1.75rem;
  width: 5.2rem;
  color: black;
  background-color: white;
}
form#select_group .row,
form#select_group .driver_group {
  margin: 0.75rem;
}
form#select_group .driver_group {
  display: flex;
  flex-direction: column;
}
form#select_group .driver_group select {
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  padding: 2px 1rem;
  background-color: rgba(241, 238, 238, 0.868);
  border-radius: 20px;
}
form#select_group button {
  font-size: 1.35rem;
  background-color: green;
  color: white;
  font-weight: 800;
  border-radius: 20px;
  width: 8rem;
  padding: 5px;
}

#status div {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */