<form id="estimate" method="POST" class="order">
  <h1>訂單編號:{{order}}</h1>
  <input
    id="user_id"
    value="{{user_id}}"
    name="user_id"
    type="hidden"
    required
  />
  <div class="pick-up">
    <label for="pick-up">上車</label>
    <input
      id="pick-up"
      class="check"
      name="pick-up"
      type="text"
      value="{{pickup}}"
      disabled="disabled"
    />
  </div>
  <div class="drop-off">
    <label for="drop-off">下車</label>
    <input
      id="drop-off"
      class="check"
      value="{{dropoff}}"
      name="drop-off"
      type="text"
      disabled="disabled"
    />
  </div>

  <div class="memo">
    <h2>還有其他需求嗎?</h2>
    <textarea class="memo" placeholder="例如:不要聊天.." name="memo"></textarea>
    <input id="order_num" value="{{order}}" name="order_num" type="hidden" />
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      width: 20rem;
      justify-content: space-between;
    "
  >
    <button type="button" class="previous">重新設定</button>
    <button type="submit" class="next">
      下一步
      <h6>預估車資</h6>
    </button>
  </div>
</form>

<script>
  //window.clearInterval(timeoutID);
  $(document).ready(function () {
    $.ajaxSetup({
      data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
    });

    $(".previous").click(function (event) {
      window.location.href = `https://liff.line.me/${liff_ID}`;
    });

    $("#estimate").submit(function (event) {
      event.preventDefault();
      // 5. 發送 AJAX 請求
      $.ajax({
        type: "POST",
        url: "{% url 'estimateRequest' %}",
        data: {
          reqid: $("#order_num").val(),
          memo: $("textarea").val(),
        },
        dataType: "html",
        success: function (res) {
          $("main").html(res);
        },
        error: function (xhr, status, error) {
          alert("送出訂單失敗");
        },
      });
    });
  });
</script>
